week4_knowledge_language_generation/shaun_clarke_csc6313/ragbotenv/
week4_knowledge_language_generation/shaun_clarke_csc6313/chromadb/
week6_machine_learning_methods/shaun_clarke_csc6313/week6llmenv/
week7_neural_networks/shaun_clarke_csc6313/week7/